

<div class="container">
  <h1>Hero Form</h1>
  <form (ngSubmit)="onSubmit()"  #heroForm="ngForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" ngModel id="name" required  [(ngModel)]="model.name" name="name" #name="ngModel">
      <div [hidden]="name.valid || name.pristine">Enter Name</div>
     
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" ngModel id="email" required [(ngModel)]="emai" name="email" #email="ngModel">
      <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
        Email required
      </div>
    </div>

    <div class="form-group">
      <label for="alterEgo">Alter Ego</label>
      <input type="text" class="form-control" id="alterEgo" [(ngModel)]="model.alterEgo" name="alterEgo">
    </div>
    <div class="form-group">
      <label for="power">Hero Power</label>
      <select class="form-control" id="power" required [(ngModel)]="model.power" name="power" >
        <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
      </select>
    </div>
    <button type="button" class="btn btn-default" (click)="newHero(); herForm.reset()">New Hero</button>
    <button type="submit" class="btn btn-success">Submit</button>

  </form>
</div>